@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    background-color: #13192c;
    font-family: 'Helvetica Monospaced', sans-serif;
    height: 100%;
}

#tradingview_widget_wrapper,
#tradingview_widget_wrapper > div:first-child {
    height: 100%;
}

#tradingview_widget_wrapper > div:nth-child(2) {
    visibility: hidden;
}
